.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 464px) {
  .main {
    align-items:stretch;
  }
}

.footer {
  color: #fff;
  display: flex;
  flex: 1;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}





@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
